%table
  %tr
    %th Profile
    %td= simulation.profile.name
  %tr
    %th State
    %td= simulation.state
  %tr
    %th Size
    %td= simulation.size
  %tr
    %th Folder number
    %td= simulation.number
  %tr
    %th Job id
    %td= simulation.job_id
  %tr
    %th Error message
    %td= simulation.error_message