%tr
  %th Profile
  %td= entry.profile.name
%tr
  %th State
  %td= entry.state
%tr
  %th Size
  %td= entry.size
%tr
  %th Folder number
  %td= entry.number
%tr
  %th Job id
  %td= entry.job_id
%tr
  %th Error message
  %td= entry.error_message