=show_for simulation do |u|
  = u.attribute :simulator_fullname
  = u.attribute :profile_assignment, :label => "Profile"
  = u.attribute :account_username, :label => "Account"
  = u.attributes :state, :size
  = u.attribute :number, :label => "Folder number"
  = u.attributes :job_id, :error_message