.breadcrumb
  .bc
    #{ link_to 'Home', root_path }  Simulations
%h3 Simulations
%p= link_to 'Purge Failed Simulations', purge_simulations_path
%table
  %tr
    %th State
    %th Profile
  -@simulations.each do |simulation|
    %tr{:class => "= cycle('','altrow') "}
      %td= link_to simulation.state, [:analysis, simulation]
      %td= link_to simulation.profile.name, [:analysis, simulation.profile]
-#      %td= link_to 'Destroy', [:analysis, simulation], :confirm => 'Are you sure?', :method => :delete
%p= will_paginate(@simulations)

