.breadcrumb
  .bc
    #{ link_to 'Home', root_path } #{ link_to 'Simulations', simulations_path } Show Simulation
%h3 Simulation Information
%table{:width => "90%"}
  %tr
    %th Account:
    %td= @username
  %tr
    %th Profile:
    %td= link_to @simulation.game.profiles.find(@simulation.profile_id).name, [@simulation.game, @simulation.game.profiles.find(@simulation.profile_id)]
  %tr
    %th Size:
    %td=h @simulation.size
  %tr
    %th Job Id:
    %td= @simulation.job_id
  %tr
    %th State:
    %td= @simulation.state
  %tr
    %th Error Messages:
    %td= @simulation.error_message

