.breadcrumb
  .bc
    #{ link_to 'Home', root_path } #{ link_to 'Simulations', simulations_path } Show Simulation
%h3 Simulation Information
%table{:width => "90%"}
  %tr
    %th Account:
    %td= Account.find(@simulation.account_id).username
  %tr
    %th Profile:
    %td= link_to @simulation.game.profiles.find(@simulation.profile_id).name, [@simulation.game, @simulation.game.profiles.find(@simulation.profile_id)]
  %tr
    %th Size:
    %td=h @simulation.size
  %tr
    %th Job Id:
    %td= @simulation.job_id
  %tr
    %th State:
    %td= @simulation.state
  %tr
    %th Error Messages:
    %td= @simulation.error_message
%h3 Samples
%table{:width => "90%"}
  %tr
    %th
    %th File
  -@simulation.samples.each do |sample|
    %tr{:class => "= cycle('','altrow') "}
      %td= link_to "Sample", [:analysis, @simulation, sample]
      %td= link_to 'Destroy', [:analysis, @simulation, sample], :confirm => 'Are you sure?', :method => :delete
%p= link_to 'Manage Samples', simulation_sample_path(@simulation)
%p= link_to 'New sample', new_simulation_sample_path(@simulation)

