= simple_form_for scheduler, :html => {:class => 'form-inline' } do |f|
  = f.input :name
  = f.input :size, :label => "Full game size"
  = f.input :agents_per_player
  = render 'schedulers/create_requirements', form: f