%table
  %tr
    %th= role
    %th= link_to 'Remove Role', url_for(:action => :remove_role, :role => role.name), :method => :post
  =render :partial => "strategy/strategy", :collection => role.strategies, :locals => {role: role}
  -if (hierarchical_scheduler.unused_strategies(role)) != []
    =form_tag url_for(:action=>:add_strategy, :id => hierarchical_scheduler.id, :role => role.name), :method=>:post do
      %tr
        %td= select_tag "#{role}_strategy", options_for_select(hierarchical_scheduler.unused_strategies(role))
        %td= submit_tag "Add Strategy", {:id => role.name}