%h2= "Edit #{resource_class}"
= simple_form_for resource do |f|
	= f.error_notification
	= f.input :name
	= f.input :size, :label => "Full game size"
	= f.input :agents_per_player
	= f.input :max_samples
	= f.input :samples_per_simulation
	= f.input :process_memory, :label => "Process memory (in MB)"
	= f.input :time_per_sample
	= f.input :active, :as => :boolean
	= render :partial => "simulator_selector/parameters", :object => resource.parameter_hash
	= f.button :submit