.breadcrumb
  .bc
    #{ link_to 'Home', root_path } #{ link_to 'N Player Profiles', profiles_path } Create N-Player Profile
%h1 New N-Player Profile
-form_for([:analysis,@profile]) do |f| 
  = f.error_messages 
  %p
    = f.label :game_id 
    %br
    = f.select :game_id, @game_options 
  -f.fields_for :players do |builder| 
    = render 'player_fields', :f => builder 
  %p= link_to_add_fields "Add Player", f, :players
  %p= f.submit 'Create' 

