.breadcrumb
  .bc
    #{ link_to 'Home', root_path } #{ link_to 'Profiles', [@profile.game, @profile] } Show Profile
%h3 Profile Information
%table{:width => "90%"}
  %tr{:class => "= cycle('','altrow') "}
    %th Simulator:
    %td=link_to @profile.game.simulator.name, @profile.game.simulator
  -@profile.players.each do |player|
    %tr{:class => "= cycle('','altrow') "}
      %th Strategy
      %td= player.strategy
%h3 Payoff Information
%table{:width => "90%"}
  %tr{:class => "= cycle('','altrow') "}
    %th Strategy
    %th Count
    %th Payoff
  -@profile.game.strategies.each do |strategy|
    -if @profile[strategy.name.tr(".", "|")]
      %tr{:class => "= cycle('','altrow') "}
        %td= strategy.name
        %td= @profile[strategy.name.tr(".", "|")]
        %td= @profile.payoff_to_strategy(strategy.name)
%h3 Adjusted Payoff Information
%table{:width => "90%"}
  %tr{:class => "= cycle('','altrow') "}
    %th Strategy
    %th Count
    %th Payoff
  -@profile.game.strategies.each do |strategy|
    -if @profile[strategy.name.tr(".", "|")]
      %tr{:class => "= cycle('','altrow') "}
        %td= strategy.name
        %td= @profile[strategy.name.tr(".", "|")]
        %td= @profile.adjusted_payoff_to_strategy(strategy.name)

%h3 Sample Information
%table{:width => "90%"}
  %tr{:class => "= cycle('','altrow') "}
    %th Total
    %td= pluralize(@total_samples, "sample")

%h3 Simulation Information
%table{:width => "90%"}
  %tr{:class => "= cycle('','altrow') "}
    %th Queued
    %td= pluralize(@queued_simulations, "simulation")
  %tr{:class => "= cycle('','altrow') "}
    %th Running
    %td= pluralize(@running_simulations, "simulation")
  %tr{:class => "= cycle('','altrow') "}
    %th Complete
    %td= pluralize(@complete_simulations, "simulation")
  %tr{:class => "= cycle('','altrow') "}
    %th Failed
    %td= pluralize(@failed_simulations, "simulation")
