= simple_form_for entry do |f|
  = f.label :simulator_id
  .input= f.collection_select :simulator_id, Simulator.all, :id, :fullname
  = f.input :max_samples
  = f.input :samples_per_simulation
  = f.input :process_memory, :label => "Process memory (in MB)"
  = f.input :time_per_sample
  = f.input :jobs_per_request
  = f.input :active, :as => :boolean
  = f.button :submit