=show_for scheduler do |u|
  .row
    .span6
      %h3 Scheduler Configuration
      = u.attribute :name
      = u.attribute :size, :label => "Game size"
      = u.attribute :simulator_fullname, :label => "Simulator"
      = u.attributes :max_samples, :samples_per_simulation
      = u.attribute :process_memory, :label => "Process memory (in MB)"
      = u.attribute :time_per_sample, :label => "Time per sample (in seconds)"
      = u.attribute :nodes, :label => "Nodes required"
      = u.attribute :active
    .span6
      %h3 Simulator Configuration
      = render :partial => "parameter", :collection => scheduler.parameter_hash.to_a