.breadcrumb
  .bc
    #{ link_to 'Home', root_path } Game Schedulers
%h3 Game Schedulers
%p= link_to 'New game scheduler', new_game_scheduler_path

%table{:width => "90%"}
  %tr
    %th Game
    %th Active?
    %th PBS Info

  -@game_schedulers.each do |game_scheduler|
    %tr{:class => "<%= cycle('','altrow') %>"}
      %td= link_to game_scheduler.game.name, [game_scheduler.game, game_scheduler]
      %td= link_to game_scheduler.active, [game_scheduler.game, game_scheduler]
      %td= link_to @pbs_generator.name, @pbs_generator
      %td= link_to 'Destroy', [game_scheduler.game, game_scheduler], :confirm => 'Are you sure?', :method => :delete

%p= will_paginate(@game_schedulers)


