.breadcrumb
  .bc
    #{ link_to 'Home', root_path } #{link_to 'Game Schedulers', game_schedulers_path} Create Game Scheduler
%h3 New game scheduler
=form_for(@game_scheduler) do |f|
  = f.error_messages
  %table
    %tr
      %td= label :parm, :game_id
      %td= grouped_collection_select :parm, :game_id, Simulator.all, :games, :name, :id, :name
    %tr
      %td= f.label :active
      %td= f.check_box :active, {:checked => true}, true, false
    %tr
      %td= f.label :max_samples, "Max Samples Per Profile"
      %td= f.text_field :max_samples, :value => 30
    %tr
      %td= f.label :samples_per_simulation, "Samples per scheduled"
      %td= f.text_field :samples_per_simulation, :value => 30
    %tr
      %td= f.label :pbs_generator_id, 'PBS Generator'
      %td= f.collection_select :pbs_generator_id, PbsGenerator.all, :id, :name
  %p
    = f.submit 'Create Game Scheduler'

