.breadcrumb
  .bc
    #{ link_to 'Home', root_path } #{link_to 'Game Schedulers', game_schedulers_path} Create Game Scheduler
%h3 New game scheduler
=form_for(@game_scheduler) do |f|
  = f.error_messages
  %table
    %tr
      %td= label :parm, :game_id
      %td= grouped_collection_select :parm, :game_id, Simulator.all, :games, :name, :id, :name
    %tr
      %td= f.label :active
      %td= f.check_box :active, {:checked => true}, true, false
    %tr
      %td= f.label :max_samples, "Max samples per profile"
      %td= f.text_field :max_samples, :value => 30
    %tr
      %td= f.label :samples_per_simulation, "Samples per scheduled"
      %td= f.text_field :samples_per_simulation, :value => 30
    %tr
      %td= f.label :process_memory, "Required memory (in MB)"
      %td= f.text_field :process_memory
    %tr
      %td= f.label :time_per_sample
      %td= f.text_field :time_per_sample
    %tr
      %td= f.label :jobs_per_request, "Concurrent Jobs per Request"
      %td= f.text_field :jobs_per_request
  %p
    = f.submit 'Create Game Scheduler'

