%h3 Game Scheduler Information
%table
  %tr
    %th Game:
    %td= link_to @game_scheduler.game.name, @game_scheduler.game
  %tr
    %th Active:
    %td= @game_scheduler.active
  %tr
    %th Max samples per profile:
    %td= @game_scheduler.max_samples
  %tr
    %th Required memory (in MB):
    %td= @game_scheduler.process_memory
  %tr
    %th Time per sample:
    %td= @game_scheduler.time_per_sample
  %tr
    %th Concurrent jobs per request:
    %td= @game_scheduler.jobs_per_request
%p= link_to 'Edit game scheduler', edit_game_scheduler_path(@game_scheduler)

