=show_for simulator do |u|
  %h3 Simulator Configuration
  = u.attribute :name
  = u.attribute :email
  = u.attribute :version
  = u.attribute :description, :if_blank => "None"
  = render :partial => "schedulers/parameter", :collection => simulator.parameter_hash.to_a
= link_to "Edit Simulator", edit_simulator_path(simulator.id), :class => 'btn btn-primary'