.breadcrumb
  .bc
    #{ link_to 'Home', root_path } #{ link_to 'Simulators', simulators_path } #{ link_to @simulator.name, @simulator } Edit Simulator
%h3 Edit simulator
=form_for @simulator do |f|
  = f.error_messages
  %table
    %tr
      %td= f.label :name
      %td= f.text_field :name
    %tr
      %td= f.label :version
      %td= f.text_field :version
    %tr
      %td= f.label :description
      %td= f.text_area :description, :cols=>27, :rows=>10
  %p
  = f.submit

