.breadcrumb
  .bc
    #{ link_to 'Home', root_path }  Simulators
%h3 Simulators
%p= link_to 'New simulator', new_simulator_path
%table
  %tr
    %th Name
    %th Version
  -@simulators.each do |simulator|
    %tr
      %td= link_to simulator.name, simulator
      %td= simulator.version
      %td= link_to 'Destroy', simulator, :confirm => 'Are you sure?', :method => :delete
%br

