.breadcrumb
  .bc
    #{ link_to 'Home', root_path } #{ link_to 'Simulators', simulators_path } Create Simulator
%h3 New simulator
=form_for @simulator, :html => { :multipart => true } do |f|
  = f.error_messages
  %table
    %tr
      %td= f.label :name
      %td= f.text_field :name
    %tr
      %td= f.label :version
      %td= f.text_field :version
    %tr
      %td= f.label :description
      %td= f.text_area :description, :cols=>27, :rows=>10
    %tr
      %td= f.label :simulator, "Zipped simulator"
      %td= f.file_field :simulator
    %tr
      %td= label :serv, :server_proxy_ids, "Server proxies"
      %td#server_proxies
        -ServerProxy.all.each do |server_proxy|
          =check_box_tag "serv[server_proxy_ids][]", server_proxy.host, @simulator.server_proxies.include?(server_proxy), :id => server_proxy.host
  %p
  = f.submit

