= simple_form_for scheduler, html: {class: 'form-inline' } do |f|
  = f.input :name
  = f.input :size, label: "Game size"
  = f.input :default_samples
  = f.input :samples_per_simulation
  = f.input :process_memory, label: "Process memory (in MB)"
  = f.input :time_per_sample, label: "Time per sample (in seconds)"
  = f.input :nodes, label: "Nodes required"
  = f.input :active, as: :boolean
  = render partial: "simulator_selector/selector"
  = f.button :submit, "Create #{scheduler.class}"