%tr
  %td= link_to scheduler.name, scheduler
  %td= link_to scheduler.class, scheduler
  %td= link_to scheduler.simulator.fullname, scheduler.simulator
  %td= link_to (scheduler.active ? "Yes" : "No"), scheduler
  %td
    = link_to 'Edit', edit_scheduler_path(scheduler), :class => 'btn btn-mini'
    = link_to 'Destroy', scheduler, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-mini btn-danger'