%tr
  %td= link_to scheduler.name, scheduler
  %td= link_to scheduler.class, scheduler
  %td= link_to scheduler.simulator_fullname, scheduler.simulator_instance.simulator
  %td= link_to (scheduler.active ? "Yes" : "No"), scheduler
  %td
    = link_to 'Edit', "/#{model_name.pluralize}/#{scheduler.id}/edit", class: 'btn btn-mini'
    = link_to 'Destroy', scheduler, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-mini btn-danger'