= form.input :default_samples
= form.input :samples_per_simulation
= form.input :process_memory, label: "Process memory (in MB)"
= form.input :time_per_sample, label: "Time per sample (in seconds)"
= form.input :nodes, label: "Nodes required"
= form.input :active, as: :boolean