%tr
  %td= link_to scheduler.name, scheduler_path(scheduler.id)
  %td= link_to scheduler.class, scheduler_path(scheduler.id)
  %td= link_to scheduler.simulator.fullname, simulator_path(scheduler.simulator)
  %td= link_to scheduler.active.to_s, scheduler_path(scheduler.id)
  %td= link_to 'Destroy', scheduler_path(scheduler.id), :confirm => 'Are you sure?', :method => :delete