= link_to "Edit #{klass_name}", "/#{plural_name}/#{entry.id}/edit"
=render :partial => "role", :collection => entry.roles, locals: {entry: entry}
.action
  -temp = entry.roles.collect{|r| r.count}.reduce(:+)
  -if temp == nil || entry.size-temp > 0
    =form_tag url_for(:action=> "add_role", :id => entry.id), :method=>:post do
      = select_tag "role", options_for_select(entry.simulator.roles.collect{|r| r.name}-entry.roles.collect{|r| r.name})
      = text_field_tag "role_count", nil, size: 30, placeholder: "Number of players in role..."
      = submit_tag "Add Role"

%h3 Profiles
%table
  %tr
    %th Name
    %th Samples
  =render :partial => "profile", :collection => @profiles
= paginate(@profiles)