= link_to "Edit #{klass_name}", "/#{plural_name}/#{entry.id}/edit"
=render :partial => "role", :collection => entry.role_strategy_hash.keys, locals: {entry: entry}
.action
  =form_tag url_for(:action=> "add_role", :id => entry.id), :method=>:post do
    = select_tag "role", options_for_select(entry.simulator.role_strategy_hash.keys-entry.role_strategy_hash.keys)
    = submit_tag "Add Role"

%h3 Profiles
%table
  %tr
    %th Name
    %th Samples
  =render :partial => "profile", :collection => @profiles
= paginate(@profiles)