= link_to "Edit #{resource_class}", edit_resource_url
=render :partial => "role", :collection => resource.roles, locals: {entry: resource}
.action
  -if resource.unassigned_player_count > 0
    =form_tag url_for(:action=> "add_role", :id => entry.id), :method=>:post do
      = select_tag "role", options_for_select(entry.simulator.roles.collect{|r| r.name}-entry.roles.collect{|r| r.name})
      = number_field_tag "role_count", resource.unassigned_player_count, in: 1..resource.unassigned_player_count
      = submit_tag "Add Role"

%h3 Profiles
%table
  %tr
    %th Name
    %th Samples
  =render :partial => "strategy/profile", :collection => @profiles
= paginate(@profiles)