%h2= "Edit #{klass_name}"
= simple_form_for @entry do |f|
	= f.error_notification
	= f.input :name
	= f.input :size, :label => "Game size"
	= f.input :max_samples
	= f.input :samples_per_simulation
	= f.input :process_memory, :label => "Process memory (in MB)"
	= f.input :time_per_sample
	= f.input :active, :as => :boolean
	= render :partial => "parameters", :object => @entry.parameter_hash
	= f.button :submit