%table
  %tr
    %th Name
  %tr
    =form_tag "add_feature", :method=>:post, :remote => true do
      %td= select_tag :feature_id, options_for_select(feature_options)
      -cv_features.each do |feature|
        =hidden_field_tag "feature_names[]", feature[0]
      %td= submit_tag "Add"
  -cv_features.each do |feature|
    %tr
      %td= link_to feature[0], [game, game.features.find(feature[1])]
      %td= button_to 'Remove', {:action => :remove_feature, :feature_id => feature[1], :feature_names => cv_features.collect {|x| x[0]}}, :method => :post, :remote => true
=form_for [game, control_variate] do |f|
  =label :acr, :source_id, "Training Data Source"
  =collection_select :acr, :source_id, game.simulator.games, :id, :name
  -cv_features.each do |feature|
    =hidden_field_tag "feature_names[]", feature[0]
  %p= f.submit 'Apply Adjustments'