%h2 Home
%p Welcome to EGTA Online.  Here you can schedule simulations onto CAC administered clusters and perform empirical game-theoretic and statistical analysis on the results.
%p This site looks best in #{link_to "Chrome", "http://www.google.com/chrome"}.
%p
  %a{:href=>"/accounts/new"}
    .butt= "Register an Account"
  %a{:href=>page_path("instructions")}
    .butt= "Prepare your Simulator"
  %a{:href=>"/simulators/new"}
    .butt= "Upload a Simulator"
  %a{:href=>"/game_schedulers/new"}
    .butt= "Create a Scheduler"
  %a{:href=>"/games/new"}
    .butt= "Construct a Game"