%table
  %tr
    %th= role
    %th= link_to 'Remove', url_for(:action => :remove_role, :role => role.name), :method => :post
  =render :partial => "strategy/strategy", :collection => role.strategy_array, :locals => {role: role}
  =form_tag url_for(:action=>:add_strategy, :id => entry.id, :role => role.name), :method=>:post do
    %tr
      %td= select_tag "#{role}_strategy", options_for_select(entry.simulator.roles.where(name: role.name).first.strategy_array-role.strategy_array)
      %td= submit_tag "Add Strategy"