%table
  %tr
    %th= role
    %th= link_to 'Remove', url_for(:action => :remove_role, :role => role), :method => :post
  =render :partial => "strategy", :collection => entry.role_strategy_hash[role], :locals => {role: role}
  =form_tag url_for(:action=>:add_strategy, :id => entry.id, :role => role), :method=>:post do
    %tr
      %td= select_tag "#{role}_strategy", options_for_select(entry.simulator.role_strategy_hash[role]-entry.role_strategy_hash[role])
      %td= submit_tag "Add Strategy"