=show_for game do |u|
  %h3 Game Configuration
  = u.attribute :name
  = u.attribute :size
  = u.attribute :simulator_fullname, label: "Simulator"
  %h3 Simulator Configuration
  = render partial: "parameter", collection: game.simulator_instance.configuration.to_a
= link_to "Edit Game", edit_game_path(game.id), class: 'btn btn-primary'
= link_to "Download JSON", url_for(action: "show", format: "json"), class: 'btn btn-primary'
= link_to "Download JSON with Aggregated Observations", url_for(action: "show", format: "json", granularity: 'observations'), class: 'btn btn-primary'
= link_to "Download JSON with Unaggregated Observations", url_for(action: "show", format: "json", granularity: 'full'), class: 'btn btn-primary'
