=show_for game do |u|
  %h3 Game Configuration
  = u.attribute :name
  = u.attribute :size
  = u.attribute :simulator_fullname, :label => "Simulator"
  %h3 Simulator Configuration
  = render :partial => "parameter", :collection => game.parameter_hash.to_a
= link_to "Edit Game", edit_game_path(game.id), :class => 'btn btn-primary'
- if game.roles.size == 1 && game.roles.first.name == "All"
  = link_to "Download EGAT XML", url_for(:action => "show", :format => "xml"), :class => 'btn btn-primary'
= link_to "Download JSON", url_for(:action => "show", :format => "json"), :class => 'btn btn-primary'
= link_to "Download JSON with samples", url_for(:action => "show", :format => "json", :full => 'true'), :class => 'btn btn-primary'
