%tr
  %th= "Name"
  %td= entry.name
%tr
  %th= "Size"
  %td= entry.size
%tr
  %th= "Simulator"
  %td= entry.simulator.fullname
- entry.parameter_hash.each_pair do |k, v|
  %tr
    %th= k.humanize
    %td= v