.breadcrumb
  .bc
    #{ link_to 'Home', root_path } #{ link_to 'Games', games_path } Game: #{@game.name}
%h3 Game Information
%table
  %tr
    %th Name:
    %td=@game.name
  %tr
    %th Simulator:
    %td=@game.simulator.name
  %tr
    %th Description:
    %td=@game.description
%table
  %tr
    %th Parameter
    %th Value
    -@game.parameters.each do |x|
      %tr
        %td= x
        %td= @game[x]
%p= link_to 'Edit game', edit_game_path(@game)
/ %p= link_to 'Control Variates', new_game_control_variate_path(@game)
%h3 Game Data
%table
  %tr{:class => "= cycle('','altrow') "}
    %th EGAT XML Format:
    %td= link_to "Download", game_path(@game, :xml)
%h3 Schedulers
%table
  %tr
    %th Active?
  %tr
    -@game.game_schedulers.each do |game_scheduler|
      %tr{:class => "= cycle('','altrow') "}
        %td= link_to "Show", game_scheduler
        %td= h game_scheduler.active
%p= link_to 'Create a scheduler', new_game_scheduler_path
%h3 Strategies
#strategies=render :partial => 'strategies', :locals => {:game => @game}
%h3 Profiles
%table{:width => "90%"}
  %tr
    %th Name
    %th Samples
  -@game.profiles.each do |profile|
    %tr{:class => "= cycle('','altrow') "}
      %td= link_to profile.name, [@game, profile]
      %td= pluralize(profile.players.first.payoffs.count, "sample")

%p= will_paginate(@profiles)
