%tr
  %td= role.name
  %td= role.count
  %td
    %table
      =render :partial => "strategy/strategy", :collection => role.strategies, :locals => {role: role}
      -if (role_owner.available_strategies(role)) != []
        =form_tag url_for(:action=>:add_strategy, :id => role_owner.id, :role => role.name), :method=>:post do
          %tr
            %td= select_tag "#{role.name}_strategy", options_for_select(role_owner.available_strategies(role))
            %td= submit_tag "Add Strategy", {:id => role.name, :class => 'btn btn-mini btn-info'}
  %td= link_to 'Remove Role', url_for(:action => :remove_role, :role => role.name), :method => :post, :class => 'btn btn-danger'