%h3 Features
%p= link_to 'New feature', new_game_feature_path(@game)
%table
  %tr
    %th Name
    %th Expected Value
    %th Average Value
  -@features.each do |feature|
    %tr
      %td= link_to feature.name, [@game, feature]
      %td= feature.expected_value
      %td= feature.sample_avg
      %td= link_to 'Destroy', [@game, feature], :confirm => 'Are you sure?', :method => :delete
%br


