%h3 Create feature
=form_for([@game,@feature]) do |f|
  = f.error_messages
  %table
    %tr
      %td= f.label :name
      %td= f.text_field :name
    %tr
      %td= f.label :expected_value
      %td= f.text_field :expected_value
  
    = f.submit 'Create'

