%h3 New account
=form_for @account do |f|
  = f.error_messages
  %table
    %tr
      %td= f.label :username
      %td= f.text_field :username
    %tr
      %td= f.label :password
      %td= f.password_field :password
    %tr
      %td= label :server_proxy_id, "Server proxy"
      %td= collection_select :serv, :server_proxy_id, ServerProxy.all, :id, :host
    %tr
      %td= f.label :max_concurrent_simulations
      %td= f.text_field :max_concurrent_simulations, :value => 10
    %tr
      %td= f.label :flux
      %td= f.check_box :flux, :checked => true
  %p
    = f.submit